[client]
default-character-set   = utf8mb4
port                    = 3306


[mysqld]
init_connect            = "SET collation_connection = utf8mb4_general_ci"
init_connect            = "SET NAMES utf8mb4"
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
port                    = 3306
datadir                 = /var/lib/mysql
skip-character-set-client-handshake


[mysqldump]
default-character-set   = utf8mb4

[mysql]
default-character-set   = utf8mb4